* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #262626;
}

.card-wrapper {
    width: 50rem;
    height: 70rem;
    display: grid;
    place-items: center;
    padding: 0 10rem;
}

.card {
    position: relative;
    width: 30rem;
    height: 55rem;
    background-color: #eee;
    border-radius: 2.5rem;
    box-shadow: 0 2rem 6rem rgba(0,0,0,.7);
}

.card-top {
    width: 100%;
    height: 50%;
    padding: 3rem;
    background-color: #f1ae04;
    border-radius: 2.5rem 2.5rem 0 0;
}

.logo {
    width: 8rem;
    margin-bottom: 2rem;
}

.card-top-text {
    color: #fff;
}

.card-top-text h1 {
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.shoe-1 {
    width: 30rem;
    position: absolute;
    top: -2.5rem;
    right: -10rem;
}

.card-bottom {
    width: 100%;
    height: 50%;
    padding: 2rem 3rem;
}

.card-bottom h1 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #333;
    margin-bottom: .6rem;
}

.badge {
    position: absolute;
    top: 30rem;
    right: 5rem;
    width: 3.5rem;
    height: 1.6rem;
    background-color: #25d390;
    color: #fff;
    display: grid;
    place-items: center;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.card-bottom h3 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
}

.stars {
    margin-bottom: 3rem;
}

.stars i:last-child {
    opacity: 0.4;
}

.size {
    margin-bottom: 3rem;
}

.size h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: 1.3rem;
}

.sizes {
    display: flex;
}

.sizes span {
    font-size: 1.3rem;
    margin-right: 2.5rem;
}

.sizes span:nth-child(3) {
    width: 2rem;
    height: 2rem;
    background-color: #25d393;
    color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.color h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.colors {
    display: flex;
}

.color-1, .color-2 {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.color-1 {
    background: #1c477a;
    margin-right: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(28, 71, 122, 0.2);
}

.color-2 {
    background: #c02244;
    box-shadow: 0 1rem 2rem rgba(192, 34, 68, 0.3);
}

.price {
    width: 16rem;
    height: 4rem;
    background: #1c477a;
    color: #fff;
    border-radius: 0.5rem;
    position: absolute;
    right: -1rem;
    bottom: 3rem;
    box-shadow: 0 1rem 2rem rgba(28, 71, 122, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.price span {
    font-size: 2rem;
}

.price span:first-child {
    font-weight: 300;
    text-transform: uppercase;
    margin-right: 1rem;
}

.price span:last-child {
    font-weight: bold;
}
