* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 65.5%;
}

.container {
    width: 100%;
    height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)),
                url(img/bg.jpg),
                center,
                no-repeat;
    background-size: cover;
}

.banner-text {
    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.banner-text h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 8rem;
    font-weight: 300;
    letter-spacing: .2rem;
    margin-bottom: 3rem;
}

.banner-text p {
    color: #eee;
    font-family: 'Josefin sans', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-align: right;
}

.btns {
    position: absolute;
    top: 5rem;
    right: 6rem;
}

.btn {
    width: 17rem;
    padding: 1rem 1.5rem;
    margin-right: 2rem;
    border-radius: 5rem;
    border: 2px solid tomato;

    font-family: 'Josefin sans', sans-serif;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.login-btn {
    background-color: tomato;
}

.singup-btn {
    background-color: transparent;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(0);
}

.form-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
}

.disable {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 40rem;
    background: linear-gradient(rgba(148, 42, 42, .8), rgba(185, 129, 129, .6)),
                url(img/bg.jpg)
                center
                no-repeat;
    background-size: cover;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;

    opacity: 0;
    visibility: hidden;
}

.display {
    opacity: 1;
    visibility: visible;
}

.x-btn {
    position: absolute;
    right: 2rem;
    font-size: 5rem;
    color: #222;
    cursor: pointer;
}

.form-header {
    text-align: center;
    margin: 8rem 0 15rem 0;
    color: #fff;
}

.form-header h1 {
    font-family: 'Josefin sans', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.form-header h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;
    margin-bottom: 10px;
}

.input-group input {
    width: 25rem;
    padding: 1.5rem 1.5rem  1.5rem 5rem;
    border: none;
    outline: none;
    border-radius: 3rem;
    background: rgba(0, 0, 0, .6);

    font-family: 'Josefin sans', sans-serif;
    font-size: 1.6rem;
    color: #ddd;
}

.input-group i {
    position: absolute;
    top: 1.3rem;
    left: 1.7rem;

    font-size: 1.8rem;
    color: #aaa;
}

.form button {
    width: 31rem;
    padding: 1.2rem;
    border: none;
    outline: none;
    border-radius: 3rem;
    background-color: #d867d8;

    font-family: 'Josefin sans', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    margin: 1rem 0 5rem 0;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .4);
    cursor: pointer;
    transition: all .3s;
}

.form button:hover {
    transform: translateY(2px);
    box-shadow: 0 .8rem 2.5rem rgba(0, 0, 0, .3);
}

.form button:active {
    transform: translateY(0);
}
